spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: CURRENCY-EXCHANGE
          uri: lb://CURRENCY-EXCHANGE
          predicates:
            - Path=/currency-exchange/**
        - id: CURRENCY-CONVERSION
          uri: lb://CURRENCY-CONVERSION
          predicates:
            - Path=/currency-conversion/**
server:
  port: 8765

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
