spring:
  application:
    name: spring-cloud-config-server
  cloud:
    config:
      server:
        git:
          uri: file:///Users/rahulsubh/downloads/In28Minutes Microservice project/git-localconfig-repo

server:
  port: 8888
